<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QtimeServer</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <style>
    .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: center;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .container {
    padding: 2px 16px;
    }
    </style>

  </head>


  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Welcome to QuiteTime</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">JoinUs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="card">
  <div class="container">
  <div><a class="nav"><span id="time"></span></a></div>
  <div><a class="nav">Time: <span id="current"></span> location: <span id="location"></span></a></div>
  </div>
</div>
  <!-- https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=YOUR_API_KEY -->

 <script type="text/javascript">
    var x = document.querySelector('#location');

    function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.textContent = "Geolocation is not supported by this browser.";
    }
    }

    function showPosition(position) {
     
     // const URL = 'https:maps.googleapis.com/maps/api/geocode/json?latlng='#{ position.coords.latitude }','#{ position.coords.longitude }'&key=YOUR_API_KEY';

     //  fetch(URL)
     //  .then(data=>{return data.json()})
     //  .then(res=>{console.log(res)});
    // x.innerHTML = "Latitude: " + position.coords.latitude + 
    // "<br>Longitude: " + position.coords.longitude; 
    x.textContent = position; 
    
    }
    function startTimer(display, display2) {
    setInterval(function () {
        hour = new Date().getHours();
        calc_hours = ((hour - 12) >= 0) ? (24 - (hour - 12)) : Math.abs((hour - 12));
        hours = Math.abs((hour));
        minute = new Date().getMinutes();
        calc_minutes = ((60 - minute) == 0) ? "00" : Math.abs(minute - 59);
        minutes = Math.abs(minute);
        second = new Date().getSeconds();
        seconds = Math.abs(second - 60);
        display2.textContent = hours + ":" + minutes + ":" + second;
         display.textContent = calc_hours + " hours: " + calc_minutes + " minutes: " + seconds + " seconds!";
          }, 1000);
      }

      window.onload = function () {
        
          var fiveMinutes = 60 * 5,
              display = document.querySelector('#time'), 
              display2 = document.querySelector('#current'); 
          startTimer(display, display2);
          getLocation();
      };
 </script>
       
     

<div class="card">
  <div class="container">
   <%= yield %>
  </div>
</div>
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>


