<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>QtimeServer</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- Custom styles for this template -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
    .card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    }

    /* On mouse-over, add a deeper shadow */
    .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .container1 {
    padding: 2px 16px;

    }
    .med_btn {
      background-color: "#f44b42";
      font-weight: 400;
    }
    
    </style>

  </head>


  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div>
    <a class="nav">Next Meditation will begin in: <span id="time"></span></a>
    <a class="nav">Time: <span id="current"></span> location: <span id="location"></span></a></div>
  </div>
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Welcome to QuiteTime</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
      </div>
      
    </nav>
    <div class="card">
  <div class="container">
</div>
<!-- <div  class="btn"> -->
<script type="text/javascript">
  window.onload = function(){
  $(".med_btn").on("click", function(){
    alert("Hello! I am an alert box!!");
});
}
</script>
            <button class="med_btn">Join Meditation</button>  
<!-- </div> -->
  <!-- https://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&key=YOUR_API_KEY -->
 <script type="text/javascript">

    var x = document.querySelector('#location');

    function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.textContent = "Geolocation is not supported by this browser.";
    }
    }

    function showPosition(position) {
     
     // const URL = 'https:maps.googleapis.com/maps/api/geocode/json?latlng='#{ position.coords.latitude }','#{ position.coords.longitude }'&key=YOUR_API_KEY';

     //  fetch(URL)
     //  .then(data=>{return data.json()})
     //  .then(res=>{console.log(res)});
    // x.innerHTML = "Latitude: " + position.coords.latitude + 
    // "<br>Longitude: " + position.coords.longitude; 
    x.textContent = position; 
    
    }
    function startTimer(display, display2) {
    setInterval(function () {
        hour = new Date().getHours();
        calc_hours = ((hour - 12) >= 0) ? (24 - (hour - 12)) : Math.abs((hour - 12));
        hours = Math.abs((hour));
        minute = new Date().getMinutes();
        calc_minutes = ((60 - minute) == 0) ? "00" : Math.abs(minute - 59);
        minutes = Math.abs(minute);
        second = new Date().getSeconds();
        seconds = Math.abs(second - 60);
        display2.textContent = hours + ":" + minutes + ":" + second;
         display.textContent = calc_hours + " hours: " + calc_minutes + " minutes: " + seconds + " seconds!";
          }, 1000);
      }

      window.onload = function () {
        
          var fiveMinutes = 60 * 5,
              display = document.querySelector('#time'), 
              display2 = document.querySelector('#current'); 
          startTimer(display, display2);
          getLocation();

      };
 </script>
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    </div>
  </div>
</div> -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<div class="card1">
  <div class="container1">
   <%= yield %>
  </div>
</div>
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>


